<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="success" style="text-align: center"
      ><h1>Skeleton APP</h1></ion-title
    >
    <ion-text>
      <p style="text-align: center">Aquí comienza todo</p>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Bienvenido!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.user"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>

        <div class="ion-padding">
          <a href="#" style="color: gray; text-decoration: none"
            >Olvidé mi contraseña</a
          >
        </div>

        <ion-button expand="block" (click)="login()" color="success"
          >Ingresar</ion-button
        >

        <div class="ion-padding">
          <a href="#" style="text-decoration: none">Crea tu cuenta gratis</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
